pre {
  font-family: 'Poiret One', cursive;
  font-size: 30px;
}
body {
  background-color: #fff;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
}

p {
  font-size: 12px;
  font-family: Helvetica;
}

hr {
  color: #909192;
}

strong {
  font-size: 20px;
}

div {
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  padding: 1px 0px 0px 0px;
}

a {
  color: #282828;
}

h1 {
  color: #2e2e2e;
  font-family: 'Open Sans Condensed', fantasy;
  font-size: 20px;
  line-height: 20px;
}

.header {
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  min-height: 0px;
  background-color:  #fff;
  color: #282828;
  font-size: 18pt;
  font-family: arial;
}

.left-column {
    width: 15%;
    background-color:  #262626;
    color: white;
    float: left;
    min-height: 80px;
}

.big {
  font-size: 20px;
  background-color: inherit;
  margin-left: auto;
  margin-right: auto;
  width: 600px;
}

.central-column {
  width: 500px;
  background-color:  #ffffff;
  color: white;
  float: none;
  min-height: 0px;
  padding: 0px;
}

.right-column {
  width: 15%;
  min-height: 80px;
  background-color: #262626;
  color: white;
  float:right;

}

.footer {
  clear: both;
}

#navbar ul{
  margin-left: 5px;
  margin-right: 5px;
  display: none;
  background-color: #000;
  position: absolute;

}

#navbar li:hover ul {
  display: block;
}

#navbar, #navbar ul{
  margin-left: auto;
  margin-right: auto;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

#navbar {
  margin-left: auto;
  margin-right: auto;
  margin-top: -10px;
  background-color: #fff;
  padding-left: 40px;
  min-width: 7500px;
  width: 300px;
}


#navbar li {
  margin-left: auto;
  margin-right: auto;
  float: left;
  position: relative;
  height: 10px;
  background-color: #fff;

}

#navbar li a {
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding: 7px;
  width: 80px;
  color: #909192;
  text-decoration: none;
  text-align: center;
  font-family: arial;
  font-size:15px;
  text-transform: uppercase;
}


#navbar ul li {
  margin-left: auto;
  margin-right: auto;
  float: none;
}

#navbar li:hover {
  margin-left: auto;
  margin-right: auto;
}

#navbar ul li:hover {
  margin-left: auto;
  margin-right: auto;
  border-color: #fff;
}

#navbar a:hover {
  margin-left: auto;
  margin-right: auto;
  color: #000;
}
