pre {
  font-family: 'Poiret One', cursive;
  font-size: 30px;
}

@font-face {
font-family: Arelagon;
src: url(Arelagon.otf) format("opentype");
}

body {
  background-color: #fff;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
}

p {
  margin-top: 0px;
  font-size: 15px;
  font-family: Helvetica;
  margin-top: -5px;
  margin-bottom: 0px;
  letter-spacing: 0px;
  word-spacing: 0px;
  margin-left: auto;
  margin-right: auto;
  color: #2e2e2e;
  padding-top: 20px;
}

li {
  font-size: 15px;
  font-family: Helvetica;
  color: #2e2e2e;
}
hr {
  color: #909192;
}

strong {
  font-weight: bold;
  color: #2e2e2e;
}

ul {
  list-style-type: none;
}

div {
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  padding: 1px 0px 0px 0px;
}

a {
  color: #282828;
}

h1 {
  color: #2e2e2e;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  line-height: 20px;
}

#info {
  padding-left: auto;
  padding-right: auto;
  width: 200px;
  color: #909192;
  font-style: italic;
  font-size: 15px;
  font-family: Helvetica;
}

#info a {
  color: black;
}

.header {
  margin-left: auto;
  margin-right: auto;
  width: 140px;
  min-height: 0px;
  background-color:  #fff;
  color: #282828;
  font-size: 22pt;
  font-family: arial;
}

.left-column {
    width: 15%;
    background-color:  #262626;
    color: white;
    float: left;
    min-height: 80px;
}

.big {
  font-size: 20px;
  background-color: inherit;
  margin-left: auto;
  margin-right: auto;
  width: 600px;
}

.central-column {
  width: 500px;
  background-color:  #ffffff;
  color: #2e2e2e;
  float: none;
  min-height: 0px;
  padding: 0px;
  padding-top: 0px;
}

.right-column {
  width: 260px;
  min-height: 80px;
  background-color: #fff;
  color: #2e2e2e;
  float: left;
  border-left: 2px solid;
  border-color: #909192;
  margin-left: 5px; /* Отступ слева */
  padding-left: 10px;
  padding-top: 10px;
  min-height: 90px;
}

.footer {
  width: 500px;
  background-color:  #ffffff;
  color: #2e2e2e;
  float: none;
  min-height: 0px;
  padding: 0px;
  padding-top: 0px;
  margin-top: 0px;
  font-family: arial, cursive;
  font-size: 12px;
}

#navbar ul{
  margin-left: 5px;
  margin-right: 5px;
  display: none;
  background-color: #000;


}

#navbar li:hover ul {
  display: block;
}

#navbar, #navbar ul{
  margin-left: auto;
  margin-right: auto;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

#navbar {
  margin-left: 0px;
  margin-right: 0px;
  margin-top: -10px;
  background-color: #fff;
  padding-left: 0px;
  width: 500px;
  margin-bottom: 3px;
}


#navbar li {
  margin-left: auto;
  margin-right: auto;
  float: left;
  position: relative;
  height: 10px;
  background-color: #fff;

}

#navbar li a {

  display: block;
  padding: 7px;
  width: 70px;
  color: #909192;
  text-decoration: none;
  text-align: center;
  font-family: arial;
  font-size: 12px;
  text-transform: uppercase;
}


#navbar ul li {
  margin-left: auto;
  margin-right: auto;
  float: none;
}

#navbar li:hover {
  margin-left: auto;
  margin-right: auto;
}

#navbar ul li:hover {
  margin-left: auto;
  margin-right: auto;
  border-color: #fff;
}

#navbar a:hover {
  margin-left: auto;
  margin-right: auto;
  color: #000;
}
